<div class="row">
  <div class="nav">
    <ul>
      <li><a href='/'><i class="fa fa-home fa-2x"></i></a></li>
      <!-- <li><a href="#">Profile</a></li> -->
      <li><a href="">Friends</a></li>
      <li class="right"><%= @user.display_name %></li>
      <!-- MAKE ROUTES -->
      <li><a href="/user/<%= @user.id %>/posts/new">New Table</a></li>
      <li><a href="/" title="Log Out." style="background-color:#FFFFFF;color:#000000;text-decoration:none"><i class="fa fa-times fa-2x"></i></a></li>
      <!-- <li><a href="/user/<%# @user.id %>/weights/new">Add Pro or Con</a></li> -->
    </ul>
  </div>
</div>

<!-- Row -->
<!-- 
  <div class="container">
    <div class="new_table">
      <%# erb :_table_form, locals: { user: @user } %>
    </div>
  </div>
 -->

<div class="container">
    <div class="page-header" style="margin-top: 10%;">
        <h1 id="timeline"><%= @user.display_name %>'s Timeline</h1>
        <p><a href="/user/<%= @user.id %>/posts/new">New Table</a></p>
    </div>

    <div id="new_table">
      <%= erb :_table_form, locals: { user: @user } %>
    </div>

    <ul class="timeline" style="margin-top: 15%;" id='timeline'>
      <% @timeline_objs.each do |object| %>
        <% if object.class == Post %>
          <li id='table_item'><%= erb :_table_info, locals: { post: object } %></li>
        <% else %>
          <% if object.pro %>
            <li class="timeline-inverted"><%= erb :_pro, locals: { weight: object } %></li>
          <% else %>
            <li class="timeline-inverted"><%= erb :_con, locals: {weight: object } %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
</div>