<div class="row">
  <div class="nav">
    <ul>
      <li><i class="fa fa-home fa-2x"></i></li>
      <li><a href="#">Profile</a></li>
      <li><a href="">Friends</a></li>
      <li class="right"><%= @user.display_name %></li>
<!--       <li><a href="/" title="Log Out." style="background-color:#FFFFFF;color:#000000;text-decoration:none"><i class="fa fa-times fa-2x"></i></a></li> -->
      <li>
        <form id="sign-out" action="/sessions/<%= current_user.id %>" method="post" style="float: right;">
          <input name="_method" type="hidden" value="delete" />
          <input type="submit" value="Sign Out">
        </form>
      </li>
    </ul>
  </div>
</div>

<div class="row">

  <div class="col-md-2">
    <ul>
      <!-- NEED TO MAKE ROUTES -->
      <li><a href="/user/<%= @user.id %>/posts/new">New Table</a></li>
      <li><a href="/user/<%= @user.id %>/weights/new">Add Pro or Con</a></li>
    </ul>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <h3>Recent Contributions: </h3>
    <% @weights.each do |weight| %>
    <% if weight.pro %>
    <%= erb :_pro, locals: {weight: weight } %>
    <% else %>
    <%= erb :_con, locals: {weight: weight } %>
    <% end %>
    <% end %>
  </div>
</div>